<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/navbar.ejs') %>

    <h3 class="mt-5 text-center">Fill in your complaint</h3>
    <form
      action="<%= server_url%>complain"
      enctype="multipart/form-data"
      method="POST"
      class="container"
    >
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="firstname"
              placeholder="enter firstname"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="lastname"
              placeholder="enter lastname"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="enter your email"
          name="email"
        />
      </div>
      <div class="form-group">
        <input type="file" class="form-control" name="file" />
      </div>

      <div class="form-group">
        <textarea
          name="description"
          id=""
          cols="30"
          rows="10"
          class="form-control"
        ></textarea>
      </div>

      <div class="form-group">
        <input type="submit" value="send info" class="btn btn-primary" />
      </div>
    </form>
  </body>
</html>
