<!DOCTYPE html>
<html lang="en">
  <!-- include head tag -->
  <%- include('./includes/head.ejs') %>
  <body>
    <!-- navbar -->
    <%- include('./includes/navbar.ejs') %>
    <h1>Welcome to my E-Shop</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil suscipit
      itaque culpa beatae enim quasi. Earum natus autem quidem maiores, facere
      repudiandae dicta nisi tempore ratione molestiae officiis. Obcaecati,
      asperiores!
    </p>
  </body>
</html>
